@import '../tools/functions';
html,
body {
    width: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: var(--liferay-fonts);
    background-color: var(--color-tertiary-light);
    // color: var(--color-tertiary);
}
p{
    margin-bottom: 0;
}
time{
    line-height: 1;
}

.#{$app}body{
    font-family: var(--font);
}