
:root {
    --font: Barlow,  Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
    --liferay-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --size: 16;

    --color-primary: #fade34;
    --color-secondary: #f16528;
    --color-tertiary: #2aa9e0;

    --color-primary-dark: #eec724;
    --color-secondary-dark: #e54d26;
    --color-tertiary-dark: #0070ba;

    --color-primary-darker: #8e7715;
    --color-secondary-darker: #892e16;
    --color-tertiary-darker: #00436f;

    --color-primary-light: #fef8d6;
    --color-secondary-light: #fce0d4;
    --color-tertiary-light: #d4edf8;


}
